---
import Layout from "../../layouts/Layout.astro";
import Aside from "../../components/Aside/index.astro";
---

<Layout title="Kelola Pengguna">
  <section
    id="home"
    class="section-padding-x pt-24 pb-12 lg:pt-36 lg:pb-16 normal-font-size text-light-base bg-dark-base"
  >
    <div class="container max-w-screen-sm lg:max-w-screen-lg">
      <div class="flex flex-col md:flex-row gap-8">
        <Aside />
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left rtl:text-right text-gray-400">
            <thead class="small-font-size uppercase bg-gray-700 text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">Username</th>
                <th scope="col" class="px-6 py-3">Profile</th>
                <th scope="col" class="px-6 py-3">Email</th>
                <th scope="col" class="px-6 py-3">Position</th>
                <th scope="col" class="px-6 py-3">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="odd:bg-gray-900 even:bg-gray-800 border-b border-gray-700"
              >
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-light-base whitespace-nowrap"
                  >Rusdi Jawir</th
                >
                <td class="px-6 py-4"
                  ><img
                    src="/images/profiles/rusdi-jawir.jpeg"
                    alt="Foto Rusdi Jawir"
                    class="w-12 rounded-full aspect-square object-cover"
                  /></td
                >
                <td class="px-6 py-4">rusdijawir@gmail.com</td>
                <td class="px-6 py-4">Web Developer</td>
                <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-base hover:underline"
                    >Edit</a
                  >
                  <a
                    href="#"
                    class="xl:ml-2 font-medium text-red-base hover:underline"
                    >Delete</a
                  >
                </td>
              </tr>
              <tr
                class="odd:bg-gray-900 even:bg-gray-800 border-b border-gray-700"
              >
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-light-base whitespace-nowrap"
                  >Rusdi Jawir</th
                >
                <td class="px-6 py-4"
                  ><img
                    src="/images/profiles/rusdi-jawir.jpeg"
                    alt="Foto Rusdi Jawir"
                    class="w-12 rounded-full aspect-square object-cover"
                  /></td
                >
                <td class="px-6 py-4">rusdijawir@gmail.com</td>
                <td class="px-6 py-4">Web Developer</td>
                <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-base hover:underline"
                    >Edit</a
                  >
                  <a
                    href="#"
                    class="xl:ml-2 font-medium text-red-base hover:underline"
                    >Delete</a
                  >
                </td>
              </tr>
              <tr
                class="odd:bg-gray-900 even:bg-gray-800 border-b border-gray-700"
              >
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-light-base whitespace-nowrap"
                  >Rusdi Jawir</th
                >
                <td class="px-6 py-4"
                  ><img
                    src="/images/profiles/rusdi-jawir.jpeg"
                    alt="Foto Rusdi Jawir"
                    class="w-12 rounded-full aspect-square object-cover"
                  /></td
                >
                <td class="px-6 py-4">rusdijawir@gmail.com</td>
                <td class="px-6 py-4">Web Developer</td>
                <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-base hover:underline"
                    >Edit</a
                  >
                  <a
                    href="#"
                    class="xl:ml-2 font-medium text-red-base hover:underline"
                    >Delete</a
                  >
                </td>
              </tr>
              <tr
                class="odd:bg-gray-900 even:bg-gray-800 border-b border-gray-700"
              >
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-light-base whitespace-nowrap"
                  >Rusdi Jawir</th
                >
                <td class="px-6 py-4"
                  ><img
                    src="/images/profiles/rusdi-jawir.jpeg"
                    alt="Foto Rusdi Jawir"
                    class="w-12 rounded-full aspect-square object-cover"
                  /></td
                >
                <td class="px-6 py-4">rusdijawir@gmail.com</td>
                <td class="px-6 py-4">Web Developer</td>
                <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-base hover:underline"
                    >Edit</a
                  >
                  <a
                    href="#"
                    class="xl:ml-2 font-medium text-red-base hover:underline"
                    >Delete</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</Layout>
