---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cheatsheets for Developers">
  <section
    id="detail"
    class="section-padding-x pt-24 pb-12 lg:pt-36 lg:pb-16 normal-font-size text-light-base bg-dark-base"
  >
    <div class="container max-w-screen-xl">
      <div class="flex flex-col lg:flex-row lg:gap-8">
        <div class="">
          <img
            src="/images/posts/chatgpt.webp"
            alt="Vue Cheatsheet"
            class="w-full rounded-lg shadow-purple-base shadow-md"
          />
        </div>
        <div class="">
          <h1 class="title-font-size font-bold mb-2">How I Use ChatGPT as a Frontend Developer (5 Ways)</h1>
          <p class="normal-font-size mb-4">
            A frontend developer shares five ways to use ChatGPT for optimizing
            workflow, including formatting JSON, creating UI skeletons,
            generating random data, working with regular expressions, and
            finding code solutions. By leveraging ChatGPT, tasks such as
            creating Material UI skeletons or finding regex solutions become
            more efficient, saving time and enhancing productivity.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
