---
interface Props {
  href: string;
  className?: string;
}

const { href, className } = Astro.props;
---

<li>
  <a
    href={href}
    class={`leading-6 text-light-base hover:text-purple-base ${className}`}
  >
    <slot />
  </a>
</li>